{% extends "layout.html" %}

{% block title %}
    Get Place Review
{% endblock %}

{% block main %}

<img src="static/icons/restaurant-icon.png" width="100" height="100" alt="">

    <h5>Browse a place:</h5>
    <form action="/" method="post">
        <p>
            <label for="search_type">Search by:</label>
            <select class="mx-auto" name="search_type" id="search_type" style="width:auto;">
                <option value="">Select Option</option>
                <option value="name">Name</option>
                <option value="state">State</option>
            </select>
        </p>
        <div id="name_search" style="display:none;">
            <p>
                <input autocomplete="off" autofocus name="place_name" id="place_name" placeholder="Place Name" type="text">
                <div id="autocomplete-suggestions"></div> <!-- Contenedor para las sugerencias de autocompletado -->
            </p>
        </div>
        <div id="state_search" style="display:none;">
            <p>
                <label for="state">State:</label>
                <select class="mx-auto" name="district" id="district" style="width:auto;">
                    {% for state in states %}
                        <option value="{{ state }}">{{ state }}</option>
                    {% endfor %}
                </select>
            </p>
        </div>
        <p>
            <button type="submit" class="btn btn-primary">Submit</button>
        </p>
    </form>

<script>
document.getElementById('search_type').addEventListener('change', function() {
    var searchType = this.value;
    var nameSearchDiv = document.getElementById('name_search');
    var stateSearchDiv = document.getElementById('state_search');
    
    if (searchType === 'name') {
        nameSearchDiv.style.display = 'block';
        stateSearchDiv.style.display = 'none';
    } else if (searchType === 'state') {
        nameSearchDiv.style.display = 'none';
        stateSearchDiv.style.display = 'block';
    } else {
        nameSearchDiv.style.display = 'none';
        stateSearchDiv.style.display = 'none';
    }
});

document.getElementById('place_name').addEventListener('input', function() {
    let query = this.value.trim(); // Obtener el valor del campo de búsqueda y eliminar espacios en blanco al principio y al final
    let autocompleteSuggestionsDiv = document.getElementById('autocomplete-suggestions');

    // Verificar si el valor del campo de búsqueda es vacío
    if (query.length === 0) {
        autocompleteSuggestionsDiv.innerHTML = ''; // Limpiar el contenedor de sugerencias si no hay consulta
        return; // Salir de la función si la consulta está vacía
    }

    // Enviar solicitud al servidor para obtener sugerencias de autocompletado
    fetch(`/autocomplete?query=${query}`)
        .then(response => response.json())
        .then(data => {
            // Limpiar el contenedor de sugerencias
            autocompleteSuggestionsDiv.innerHTML = '';
            // Iterar sobre las sugerencias devueltas por el servidor y mostrarlas en el contenedor
            data.forEach(suggestion => {
                // Crear un elemento de sugerencia cliclable
                let suggestionElement = document.createElement('p');
                suggestionElement.textContent = suggestion;
                suggestionElement.classList.add('autocomplete-suggestion');
                // Agregar un estilo diferente para resaltar que las sugerencias son clicables
                suggestionElement.style.cursor = 'pointer';
                suggestionElement.style.backgroundColor = '#f2f2f2';
                suggestionElement.style.padding = '5px';
                suggestionElement.style.borderRadius = '5px';
                suggestionElement.style.marginBottom = '5px';
                // Agregar un evento de clic para insertar la sugerencia en el campo de búsqueda
                suggestionElement.addEventListener('click', function() {
                    document.getElementById('place_name').value = suggestion;
                    autocompleteSuggestionsDiv.innerHTML = ''; // Limpiar el contenedor de sugerencias después de hacer clic en una sugerencia
                });
                // Agregar la sugerencia al contenedor de sugerencias
                autocompleteSuggestionsDiv.appendChild(suggestionElement);
            });
        })
        .catch(error => {
            console.error('Error fetching autocomplete suggestions:', error);
            // Manejar el error si ocurre al obtener las sugerencias de autocompletado
            // Por ejemplo, podrías mostrar un mensaje de error al usuario
        });
});
</script>

<footer class="page-footer font-small blue">
    <div class="footer-attribution text-center">
        <a href="https://www.flaticon.com/free-icons/restaurant" title="restaurant icons">Restaurant icons created by Eucalyp - Flaticon</a>
    </div>
</footer>
    
{% endblock %}
